.detail {
	justify-content: center;
}

.detailPostInfo {
	display: flex;

	margin-top : 3%;
}

.detailPostDate {
	margin-left : 3%;
	padding-top : 1%;
	color : rgb(173, 173, 173);
}

.detail_title {
	margin-left : 5%;
	margin-bottom: 3%;
}

.detail_content {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}

.detail_img {
	margin-top: 2%;
	margin-bottom: 2%;
}

.detail_footer {

	margin-left : 3%;
	margin-top: 3%;
	margin-bottom: 2%;
}

.commentForm {
	display: flex;
	align-items: center;
	margin-top : 3%;
	margin-bottom : 3%;
}

.commentForm .commentImg {
	width : 30px;
	margin-left : 2%;
}

.commentForm .commentInput {
	margin : 0;
	margin-left : 1%;
	width: 400px;
	border : none;
}

.commentForm .commentInput:focus {
	outline : none;
}

.commentForm .commentButton {
	margin : 0;
	width : 100px;
	margin-left: auto;
	margin-right : 3%;
	border-radius: 20px;
	border : none ;
}

.commentForm .commentButton {
	border: none;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	width: 100px;
	height: 40px;
	background-color: #231942;
	color: #ECE6F4;
  }




.commentForm .commentButton:hover {
	letter-spacing: 2px;
	transform: scale(1.2);
	cursor: pointer;
  }



.commentForm .commentButton:active {
	transform: scale(1.5);
  }

.comment_wrap {
	margin-top : 3%;
	margin-bottom : 3%;
	margin-left : 3%;
}

.comment_list {
	margin-top : 3%;
	margin-bottom : 3%;
}

.comment {
	align-items: center;
	margin-bottom : 2%;
}

.comment .commentDelete {
	width : 100px;
	border-radius: 20px;
}

.replies {
	margin-left : 2%;
	margin-bottom : 2%;
}

.reply {
	margin-top : 2%;
}

.reply .replyButton {
	width : 100px;
}

.like {
	display: flex;
	align-items: center;
}

.like .likeImg {
	width : 25px;
	margin-right: 1%;
	cursor: pointer;
}

.FavorImg {
	width : 25px;
	margin-right: 1%;
	cursor: pointer;
}

.postCommentImg {
	width : 20px;
	height : 20px;
	margin-left : 1%;
	margin-right : 0.8%;
}

.postViewImg {
	width : 20px;
	height : 20px;
	margin-left : 1%;
	margin-right : 0.8%;
}

.detailPostImg {
	width : 40px;
	margin-right: 1%;
	border : 1px solid antiquewhite;
	background-color: antiquewhite;
	border-radius: 50%;
}

.replyImg {
	width : 30px;
	margin-right: 1%;
	border : 1px solid antiquewhite;
	background-color: antiquewhite;
	border-radius: 50%;
}

.commentProfileImg {
	width : 40px;
	margin-right: 1%;
	border : 1px solid antiquewhite;
	background-color: antiquewhite;
	border-radius: 50%;
}

.replyImgWrap {
	display: flex;
	align-items: center;
}

.commentImgWrap {
	display: flex;
	align-items: center;
}

.commentDate {
	color : rgb(173, 173, 173);
	margin-top : 1%;
}

.commentContent {
	margin-top : 1%;
}


.replyDate {
	color : rgb(173, 173, 173);
	margin-top : 1%;
}

.replyContent {
	margin-top : 1%;
}

.postAuthor {
	margin-left : 1%;
	padding-top : 1%;
}

.detailPostButtonWrap {
	margin-left : auto;
	margin-right : 3%;
	padding-top: 1%;
}


.detailPostButton {
	border: none;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	width: 100px;
	height: 40px;
	background-color: #231942;
	color: #ECE6F4;
  }




  .detailPostButton:hover {
	letter-spacing: 2px;
	transform: scale(1.2);
	cursor: pointer;
  }



  .detailPostButton:active {
	transform: scale(1.5);
  }


.commentBtnWrap {
	margin-left : auto;
	margin-right : 3%;
	padding-top: 1%;
}

.commentBtn {
	border: none;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	width: 50px;
	height: 20px;
	background-color: #231942;
	color: #ECE6F4;
	font-size : 10px;
  }




  .commentBtn:hover {
	letter-spacing: 2px;
	transform: scale(1.2);
	cursor: pointer;
  }

  .commentBtn:active {
	transform: scale(1.5);
  }


  .postContent {
	margin-top : 3%;
	margin-left : 2%;
	margin-right : 2%;
  }
