* {
      text-decoration-line: none;
}
.info-title{
      display: flex;
      justify-content: center;
      margin: 40px;

      font-size: 4vw;
      font-weight: bold;
      letter-spacing: -3px;
      color: #231942;
}
.info-category{
      display: flex;
      justify-content: center;
      width: 100%;
}
.info-category button{
      width: fit-content;
      margin: 0 5px 30px;
      padding: 10px 20px;
      
      border: 1px solid #ECE6F4;
      border-radius: 20px;
      background-color: #ECE6F4;
      font-size: 1.1vw;
      color: #000000;
      cursor: pointer;
}
.info-category > button.selected {
      border: 1px solid #5E548E;
      box-shadow: 0 1px 1px 0 rgba(29,34,53,.08);
      background-color: #5E548E;
      font-weight: bold;
      color: #FFFFFF;
}

.info-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
}
.AI-box{
      display: flex;
      align-items: center;
      width: 50%;
      height: fit-content;
      margin-bottom: 15px;
      padding: 15px;
      border: 1px solid #D3D3D3;
      border-radius: 10px; 
      box-shadow: 0 3px 6px 0 rgba(29,34,53,.08);
}
.AI-box:hover{
      background-color: #f5f5f5;
}
.AI-info{
      overflow: hidden;
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
}
.AI-name{
      font-size: 16px;
      font-weight: 600;
      color: #5E548E;
}
.AI-category{
      font-size: 16px;
      font-weight: 600;
}
.AI-content{
      position: relative;
      font-size: 13px;
      white-space:normal;
}

.AI-img {
      width: 90px;
      height: 90px;
      margin-left: 10px;
      border: 1px solid #D3D3D3;
      border-radius: 10px;
}