.joinForm {
	margin-left : 30%;
	align-items: center;
	display: flex;
}

.joinForm .jForm {
	width : 600px;
}



.joinForm .errorMessage {
	color: red;
	margin-top: 5%;
	margin-bottom: 5%;
}

.joinForm .trueMessage {
	color : blue;
	margin-top: 5%;
	margin-bottom: 5%;
}

.form_list {
	margin-top : 5%;
	margin-bottom: 5%;
	border: 1px solid lightgray;
	border-radius: 5px;
	overflow: hidden;
}



.idImg {
	margin-left: 10px;
	margin-right: 10px;
}

.idForm {
	border-bottom: 1px solid #e5e5e5;
	display : flex;
	align-items: center;
}

.idForm.focused {
    border: 2px solid blue;
}

.idForm .joinInput{
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.idForm .joinInput:disabled{
	color : gray;
	background-color: transparent;

}

.idForm .dupButton {
	width: 100px;
	margin-right: 10px;
	border-radius: 20px;
	border: 1px solid #e5e5e5;
}


.emailImg {
	margin-left: 10px;
	margin-right: 10px;
}

.emailForm {
	border-bottom: 1px solid #e5e5e5;
	display : flex;
	align-items: center;
}

.emailForm.focused {
    border: 2px solid blue;
}

.emailForm .joinInput{
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.passwordImg {
	margin-left: 10px;
	margin-right: 10px;
}

.passwordViewImg {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.passwordForm {
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
}

.passwordForm.focused {
    border: 2px solid blue;
}

.passwordForm .joinInput{
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.passwordCheckImg {
	margin-left: 10px;
	margin-right: 10px;
}

.passwordCheckForm {
	display: flex;
	align-items: center;
}

.passwordCheckForm.focused {
    border: 2px solid blue;
}

.passwordCheckForm .joinInput{
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.birthImg {
	margin-left: 10px;
	margin-right: 10px;
}

.birthForm {
	border-bottom : 1px solid #e5e5e5;
	display: flex;
	align-items: center;
}

.birthForm .joinInput {
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.birthForm.focused {
    border: 2px solid blue;
}

.nicknameImg {
	margin-left: 10px;
	margin-right: 10px;
}

.nicknameForm {
	border-bottom : 1px solid #e5e5e5;
	display: flex;
	align-items: center;
}

.nicknameForm.focused {
    border: 2px solid blue;
}

.nicknameForm .joinInput {
	width:100%;
	border : none;
	box-sizing: border-box;
	height: 80px;
	margin : 0;
	outline: none;
}

.interestForm {
	font-size : 0.8em;
	height: 50px;
	margin-bottom: 5%;
}

.interestForm .joinInput {
	height: 10px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;  /* disabled 상태일 때의 투명도 */
    /* 추가로 disabled 상태일 때의 스타일을 정의할 수 있습니다. */
}

.w-btn:disabled:hover {
    transform: none;
    letter-spacing: normal;
}

.w-btn-outline:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.w-btn-outline:disabled:hover {
    transform: none;
    letter-spacing: normal;
}

.joinSelect {
	margin-left : 10px;
	width: 150px;
	height: 35px;
	background-size: 20px;
	padding: 5px 30px 5px 10px;
	border-radius: 4px;
	outline: 0 none;
}
.joinOption {
	background: black;
	color: #fff;
	padding: 3px 0;
}

.buttonWrap {
	display: flex;
	justify-content: center;
	margin-top : 5%;
	margin-bottom: 5%;
}
