.login-container {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 100vh;
}

.login-logo{
      width: 40px;
}

.login-form {
      display: flex; 
      flex-direction: column;
      width: 350px;
      margin: 20px;
      padding: 10px 30px 10px 30px;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
}
.login-box {
      margin: 20px 0 0;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      box-sizing: border-box;
}
.inp-text {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 18px 19px 19px;
      box-sizing: border-box;
}
.inp-text+.inp-text {
      border-top: 1px solid #ddd;
}
.inp-text input {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 13px;
      color: #000;
      border: none;
      outline: 0;
}
.login-label {
      position: relative;
}
.login-input {
      border: 0;
      outline: none;
      font-size: 19px;
}
.login-input::placeholder{
      color: #5E548E;
      font-size: 14px;
}
.btn-clear {
      position: absolute;
      top:10px;
      right:15px;
      width: 15px;
      height: 15px;
      margin:  5px 0 0 0;
      border-radius: 100%;
}
.btn-clear-img {
      width: 15px;
      height: 15px;
      object-fit: cover;
}
.error-message {
      margin-top: 16px;
      margin-left: 5px;
      color: red;
      font-size: 13px;
}
.btn-login {
      width: 100%;
      height: fit-content;

      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 27px;

      padding: 10px;
      border: 0;
      border-radius: 10px;
      color: #FFFFFF;
      background-color: #231942;
      font-size: 15px;
}

.link-join{
      color: #5E548E;
      font-size: 15px;
}
.screen-out {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      line-height: 0;
      text-indent: -9999px;    
}

