#com-title {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: bold;
    color: #231942;
}

#com-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#com-wrap > button.selected, #com-wrap2 > button.selected {
    background-color: #5E548E; /* 원하는 배경색으로 변경 */
    font-weight: bold;
    color: white;
}

#com-wrap > button {
    font-size: 16px;
    padding: 5px 18px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    
    text-align: center;
    margin: 6px 5px 0 5px;
    border: 0;
    border-radius: 30px;
    background: #ECE6F4;
    color: black;
}

#com-wrap > button:hover {
    background: #5E548E;
    color: white;
    font-weight: bold;
}

/* 검색창 */
#com-search-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    justify-items: center;
    align-content: center;
}
#com-search-box {
    width: 480px;
    margin-top: 10px;
    padding: 8px 15px 10px 15px;
    border: 1px solid #a6a6a6;
    border-radius: 30px;
    background: transparent url(https://user-images.githubusercontent.com/75062110/260237907-b3636826-6627-40b5-b58a-a4b647f02c13.png) no-repeat right 20px center;
    background-size: 16px 16px;
}

#com-search {
    height: 17px;
    line-height: 17px;
    border: 0;
    width: 95%;
    color: #292929;
    font-size: 14px;
    background-color: transparent;
    outline: none;
}