#home-img {
    background-image: url(https://private-user-images.githubusercontent.com/75062110/261485574-adec31d6-3c76-4cb6-8296-87a5ff56765e.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE2OTIzMjY2MDUsIm5iZiI6MTY5MjMyNjMwNSwicGF0aCI6Ii83NTA2MjExMC8yNjE0ODU1NzQtYWRlYzMxZDYtM2M3Ni00Y2I2LTgyOTYtODdhNWZmNTY3NjVlLmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFJV05KWUFYNENTVkVINTNBJTJGMjAyMzA4MTglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjMwODE4VDAyMzgyNVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTM1MTljYzA1OGYzMzJhNzZiMzgxMzIxOTFiMDc3NTY2YTFiNzE3ZGU5NmM0MGQyMjdjNDMwYzgzNmMzMjY4MGMmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.1Pb9o2GynGnmZ68abX2vkLbYA8hKW30CEn2pH0whx7I);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#home-title {
    padding: 0 0 0 100px;
    margin: 0px;
    color:white;
    font-weight: bold;
    font-size: 42px;
}

#home-subtitle {
    margin: 0px;
    padding: 8px 0 0 100px;
    color:white;
    font-size: 20px;
}

#home-btn {
    width: 220px;
    height: 50px;
    margin: 18px 0 0 100px;
    border: 0;
    color:#231942;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

#help-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#help-img {
    width: 25px;
    height: 25px;
}