* {
  font-family: 'sans-serif';
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;  /* 여백 제거 */
}

/* 전체 박스 */
.box {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

/* 왼쪽 박스 */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  border-right: 1px solid #d0d0d0;
  padding-left: 1%;
  position:sticky;
  top: 0px;

  align-items: flex-end;
  justify-content: space-between;
}

/* 사이드바 항목 */


#side-txt {
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  margin: 0 0 0 20px;
}

#side-menu.selected {
  background-color: #ECE6F4;
  font-weight: bold;
  border-radius: 30px;
}

#side-menu {
  width: 80%;
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-right: 140px;
}

#side-menu:hover {
  color: black;
  background-color: #ECE6F4;
  border-radius: 30px;
  font-weight: bold;
}

.side-img {
  width: 25px;    /* 로고 크기 임의 지정 */
  height: 25px;
  padding: 16px 0 16px 16px;
}

#side-bt {
  width: 220px;
  height: 60px;
  background: #231942;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 6px 60px 0 0;
  border-radius: 30px;
  border: 0;
}

#side-bt:hover {
  background: #5E548E;
}

#side-bt2 {
  width: 220px;
  height: 60px;
  background: #9F86C0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 60px 0 0;
  border-radius: 30px;
  border: 0;
  margin-bottom: 10px;
}

#side-bt2:hover {
  background: #5E548E; 
}

#side-user {
  display: none;
}

/* 가운데 박스 */
article {
  flex: 3;
}

#logo {
  width: 25px;    /* 로고 크기 임의 지정 */
  height: 25px;
  object-fit: cover;
  margin-right: 240px;
  margin-top: 40px;
  margin: 40px 240px 12px 15px;
}

@media (max-width: 1280px) {
  
  sidebar {
    width: 65px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    border-right: 1px solid #d0d0d0;
    padding-left: 1%;
    position:sticky;
    top: 0px;
  
    align-items: flex-start;
  }

  #logo {
    margin-left: 15px;
  }

  #side-menu {
    width: 60px;
    margin: 0;
    padding: 0;
  }

  #side-txt {
    display: none;
  }

  #side-bt {
    display: none;
  }

  #side-bt2 {
    display: none;
  }

  #side-user {
    width: 30px;
    height: 30px;
    display: block;
    margin: 16px 0 25px 14px
  }
}

@media (max-height: 495px) {
  #side-bt2 {
    display: none;
  }
  #side-user {
    width: 30px;
    height: 30px;
    display: block;
  }
}